page-inicio {
  .conteudo{
    background: url('../../assets/imgs/Untitleddoc.png') no-repeat center/cover transparent;
 }

 .grid{
   
 }

 .nav{
  background-color: #00CD90;
 }

 .cont-input{
   ion-item{
     background-color: rgba(235, 235, 235, 0.8);
     margin-top: 20px;
     border-radius: 30px;
   }
 }

 .margin-bttm{
   margin-bottom: 30px;
   border-radius: 30px;
 }

 .bttn{
   background-color: #00CD90;
   border-radius: 30px;
 }

}
