page-inicio {
  .conteudo{
    background: url('../../assets/imgs/back.jpeg') no-repeat center/cover transparent;
 }

 .cont-input{
   ion-item{
     color: transparent;
     margin-top: 20px;
   }
 }

 .margin-bttm{
   margin-top: 30px;
 }
}
